<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <div class="nav-bar">
            <div id="logo">
                <a th:href="@{'/home'}">Fan Movie logo</a>
            </div>
            
            <ul>
                <li><a th:href="@{'logar/showResult'}">show result</a></li>
                <li><a th:href="@{'/test'}">Planejo Assistir</a></li>
                <li><a th:href="@{'/test'}">Favoritos</a></li>
              </ul>
        </div>
        <div class="search-bar">
            <form th:action="@{'/home'}" method="post"> 
                <input type="text" name="movieName" placeholder="Digite o nome do filme">
                <button>Search</button>
    
            </form>
        </div>
        
</body>
</html>